<% total_attacker_hit_point = @game.attacker.life_total %>
<% total_defender_hit_point = @game.defender.life_total %>

<%= @game.attacker.name %> just attacked you!!!
<br>
<br>
Your hitpoints: <%= @game.defender.hit_points %> HP / <%= total_defender_hit_point %> HP
Their hitpoints: <%= @game.attacker.hit_points %> HP / <%= total_attacker_hit_point %> HP
<br>
<br>
<br>
<br>

<form action='/play'>
  <input type="submit" value="OK">
</form>
